PORT=3000
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/bildyapp
JWT_ACCESS_SECRET=tu_secreto_access_token
JWT_REFRESH_SECRET=tu_secreto_refresh_token
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
